p {
  font-size: 9vw;
	text-align: center;
	margin-bottom : auto;
	margin-top : auto;
	margin-left : "0px";
	margin-right : "0px";
	width: 100%;
}

.sanssautdeligne { 
	white-space:nowrap; 
}

html {
	background: #000000;
	font-family: Calibri;
	font-weight: bold;
	color: #FF0000;
}

body {
	display:flex;
	height:100%; 
	margin:0; 
	padding:0; 
}

.color-green{
    color: #0F0;
}

.color-blue{
    color: #09F;
}

.color-org{
    color: #ff9900;
}
