p {
  width: 100vw;
    margin: auto;
    position: absolute;
    top:0;bottom:0; /* vertical center */
    left:0;right:0; /* horizontal center */
}
.sanssautdeligne { 
	white-space:nowrap; 
}
html {
	background: #000000;
	font-family: Calibri;
	font-weight: bold;
	color: #FF0000;
}
.color-green{
    color: #0F0;
}
.color-blue{
    color: #09F;
}
